<!DOCTYPE html>
<!--
Team Bord: Austin Ngan (Gerald), Thomas Yu (Perry), Mark Zhu (Bob the Third Jr), Roshani Shrestha (Pete)
SoftDev
P00: Add an Entry
-->


<html>

  <head>
    <title> EDITING PAGE </title>
  </head>

  <body>
    <h1>
      <br>
      Add a New Entry
      <br>
    </h1>

    <br>

    <form action="finishEntry" method="post">
     Title: <input type="text" name="title">
     <br><br/>
     <textarea input type="text" name="paragraph_text" cols="50" rows="10"></textarea>
     <input type="submit" value="Finish Entry">
    </form>

    <br><br>

    <form action="/" method="post">
       <button type="submit" name="sub1">Cancel Entry</button>
    </form>


    <br>

  </body>

</html>
