<!DOCTYPE html>
<!--
Team Bord: Austin Ngan (Gerald), Thomas Yu (Perry), Mark Zhu (Bob the Third Jr), Roshani Shrestha (Pete)
SoftDev
P00: User's Personal Blog Page
2021-10-30
-->


 <html>

   <head>
     <title> EDITING PAGE </title>
   </head>

   <body>
     <h1>
       {{heading}}
       <br>
       Welcome, Travelers of the Intertoobz!
       <br>
     </h1>

     <br>

     <form action="finishPost" method="post">
      Title: <input type="text" name="title">
      <br><br/>
      <textarea input type="text" name="paragraph_text" cols="50" rows="10"></textarea>
      <input type="submit" value="Finish Post">
     </form>

     <br><br>

     <form action="blog1" method="post">
        <button type="submit" name="sub1">Cancel Post</button>
     </form>


     <br>

   </body>

 </html>
