<!DOCTYPE html>
<!--
Team Bord: Austin Ngan (Gerald), Thomas Yu (Perry), Mark Zhu (Bob the Third Jr), Roshani Shrestha (Pete)
SoftDev
P00: User's Personal Blog Page
2021-10-30
-->


 <html>

   <head>
     <title> EDITING PAGE </title>
   </head>

   <body>
     <h1>
       Bord's Weblog Hosting Site
       <br>
       Edit your post here!
       <br>
     </h1>

     <h2>
       {{ error }}
     </h2>

     <form action="finishEditEntry" method="post">
      Title: <input type="text" name="title" value="{{ entryTitle }}">
      <br><br/>
      <textarea input type="text" name="paragraph_text" cols="50" rows="10">{{entryText}}</textarea>
      <br><br>
      Confirm the name of your old title to confirm your edits: <input type="text" name="oldTitle">
      <br><br/>
      <input type=hidden name="blogTitle" value="{{blogTitle}}">
      <input type="submit" value="Finish Editing">
     </form>


     <br><br>

     <form action="blogpage" method="post">
       <input type="hidden" name="username" value="{{username}}">
       <input type="hidden" name="blogsub" value="{{blogTitle}}">
      <button type="submit" name="sub1">Cancel</button>
     </form>

     <br><br>

     <form action="deleteEntry" method="post">
      <input type="hidden" name="username" value="{{username}}">
      <input type="hidden" name="ogTitle" value="{{entryTitle}}">
      <input type="hidden" name="ogBlogTitle" value="{{blogTitle}}">
      <button type="submit" name="sub1">Delete Entry</button>
     </form>


     <br>

   </body>

 </html>
