<!DOCTYPE html>
<!--
Team Bord: Austin Ngan (Gerald), Thomas Yu (Perry), Mark Zhu (Bob the Third Jr), Roshani Shrestha (Pete)
SoftDev
P00: User's Personal Blog Page
2021-10-30
-->


 <html>

   <head>
     <title> EDITING PAGE </title>
   </head>

   <body>
     <h1>
       <br>
       Edit your post here!
       <br>
     </h1>

     <br>

     <form action="finishEditPost" method="post">
      New Title: <input type="text" name="title">
      <br><br/>
      <textarea input type="text" name="paragraph_text" cols="50" rows="10"></textarea>
      <br><br>
      Confirm the name of your old title to confirm your edits: <input type="text" name="oldTitle">
      <br><br/>
      <input type="submit" value="Finish Editing">
     </form>

     <br><br>

     <form action="/" method="post">
        <button type="submit" name="sub1">Cancel Post</button>
     </form>


     <br>

   </body>

 </html>
