<!DOCTYPE html>
<!--
Team Bord: Austin Ngan (Gerald), Thomas Yu (Perry), Mark Zhu (Bob the Third Jr), Roshani Shrestha (Pete)
SoftDev
P00: User's Personal Blog Page
2021-10-30
-->


 <html>

   <head>
     <title> EDITING PAGE </title>
   </head>

   <nav>
     <a href="personal">Home</a> |
     <a href="displayAll">All Users</a> |
     <a href="logout">Log Out</a>
   </nav>

   <body>
     <h1>
       Bord's Weblog Hosting Site
       <br>
       Edit your blog here!
       <br>
     </h1>

     <br>

     <form action="finishEditBlog" method="post">
      Title: <input type="text" name="title" value="{{ blogTitle }}">
      <br><br/>
      <textarea input type="text" name="paragraph_text" cols="50" rows="10">{{blogDescription}}</textarea>
      <br><br>
      Confirm the name of your old title to confirm your edits: <input type="text" name="oldTitle">
      <br><br/>
      <input type=hidden name="blogTitle" value="{{blogTitle}}">
      <input type="submit" value="Finish Editing">
     </form>

     <br><br>

     <form action="blogpage" method="post">
       <input type="hidden" name="username" value="{{username}}">
       <input type="hidden" name="blogsub" value="{{blogTitle}}">
      <button type="submit" name="sub1">Cancel</button>
     </form>


     <br>

   </body>

 </html>
