<!DOCTYPE html>
<!--
Team Bord: Austin Ngan (Gerald), Thomas Yu (Perry), Mark Zhu (Bob the Third Jr), Roshani Shrestha (Pete)
SoftDev
P00: Individual Blog Page
2021-10-30
-->


 <html>

   <head>
     <title> Blog Title </title>
   </head>

   <!-- navbar -->
   <nav>
     <a href="personal">Home</a> |
     <a href="displayAll">All Users</a> |
     <a href="logout">Log Out</a>
   </nav>

   <body>
     <h1>
       Bord's Weblog Hosting Site
     </h1>


        <form action="/userblogs" method="POST">
            <input type="hidden" name="usersub" value="{{username}}">
            <button type="submit">Back to Blogs</button>
        </form>
        <h1>
           {{blogTitle}}
        </h1>
        <h2>
            Author: {{username}}
        </h2>
    </body>

    <p>
        Description: {{blogDescription}}
    </p>

    {% if sessionU %}
      <form action="/editBlog" method="post">
        <input type="hidden" name="blogTitle" value="{{blogTitle}}">
        <button type="submit" name="sub2">Edit Blog</button>
      </form>
      <br>
    {% endif %}

    {% if sessionU %}
      <form action="/createEntry" method="post">
        <input type="hidden" name="blogTitle" value="{{blogTitle}}">
        <button type="submit" name="sub2">Add New Entry</button>
      </form>
      <br>
    {% endif %}

    <!-- Displays all the entries in this blog. Buttons are present to edit them. -->
    {% for key, value in entriesList.items() %}
      {% if sessionU %}
          <form action="editEntry" method="post">
            <input type="hidden" name="blogTitle" value="{{blogTitle}}">
            <input type="submit" name="entrysub" value="{{key}}">
          </form>
      {% else %}
          <h3>
            {{key}}
          </h3>
      {% endif %}
          <p>{{value}}</p>
    {% endfor %}

    <br>
    <br>




</html>
