<!DOCTYPE html>
<!--
Team Bord: Austin Ngan (Gerald), Thomas Yu (Perry), Mark Zhu (Bob the Third Jr), Roshani Shrestha (Pete)
SoftDev
P00: Individual Blog Page 
2021-10-30
-->


 <html>

   <head>
     <title> Blog Title </title>
   </head>
   
   <body>
        <form action="/" method="POST">
            <button type="submit">Back to Blog Page</button>
        <form>
        <h1>
           Minecraft
        </h1>
        <h2>
            Author: Henry
            <br>Date: Some miracle
        </h2>
    </body>
    <div style="text-align: right;">
        <button type="button">Edit</button>
    </div>
    <p>
        Minecraft is a sandbox video game developed by the Swedish video game developer Mojang Studios. The game was created by Markus "Notch" Persson in the Java programming language. Following several early private testing versions, it was first made public in May 2009 before fully releasing in November 2011, with Jens Bergensten then taking over development. Minecraft has since been ported to several other platforms and is the best-selling video game of all time, with over 238 million copies sold and nearly 140 million monthly active users as of 2021.
    </p>

    <br>
    <br>
    <form action="/" method="POST">
        <button type="submit">Back to Blog Page</button>
    <form>

</html>