<!DOCTYPE html>
<!--
Team Bord: Austin Ngan (Gerald), Thomas Yu (Perry), Mark Zhu (Bob the Third Jr), Roshani Shrestha (Pete)
SoftDev
P00: Individual Blog Page
2021-10-30
-->


 <html>

   <head>
     <title> Blog Title </title>
   </head>

   <body>
        <form action="/" method="POST">
            <button type="submit">Back to Blog Page</button>
        <form>
        <h1>
           {{blogTitle}}
        </h1>
        <h2>
            Author: {{username}}
            <br>
            Date: Some miracle
        </h2>
    </body>

    <div style="text-align: right;">
        <button type="button">Edit</button>
    </div>
    <p>
        {{blogText}}
    </p>

    <br>
    <br>
    <form action="editPost" method="post">
       <button type="submit" name="sub2">Edit Post</button>
    </form>

    <form action="/" method="POST">
        <button type="submit">Back to Blog Page</button>
    <form>

</html>
