<!DOCTYPE html>
<!--
Team Bord: Austin Ngan (Gerald), Thomas Yu (Perry), Mark Zhu (Bob the Third Jr), Roshani Shrestha (Pete)
SoftDev
P00: Register Page
2021-10-30
-->


 <html>

   <head>
     <title> REGISTER PAGE </title>
     <link rel="stylesheet" href="../static/css/login.css">
   </head>

   <body>
     <h1>
       Welcome to Bord's Weblog Hosting Site!
       <br>
       {{message}}
     </h1>


     <h3>
       Enter a new username and password below to register.
     </h3>
     <form action="register_auth" method = "POST">
       Username: <input type="text" name="username">
       <br>
       Password: <input type="password" name="password">
       <br>
       <input type="submit" name="sub1">
     </form>
     <br>
     <form action="back_login" method = "POST">
      <input type="submit" name="log" value="Go back to the login page!">
    </form>
     <br>
   </body>

 </html>
