<!DOCTYPE html>
<!--
Team Bord: Austin Ngan (Gerald), Thomas Yu (Perry), Mark Zhu (Bob the Third Jr), Roshani Shrestha (Pete)
SoftDev
P00: User's Personal Blog Page
2021-10-30
-->


 <html>

   <head>
     <title> BLOG PAGE </title>
   </head>

   <body>
     <h1>
       {{heading}}
       <br>
       Welcome, Travelers of the Intertoobz!
       <br>
     </h1>

     Hey, {{username}}! Welcome to your personal Blog!
     <br>

     <form action="createPost" method="post">
        <button type="submit" name="sub2">Create Post</button>
     </form>

     <br>

	{% for blogTitle in listBlog %}
        <form action="blogpage" method="post">
          <input type="submit" name="blogsub" value="{{blogTitle}}">
        </form>
        <br>
     {% endfor %}

     <br>
     <form action="logout" method="post">
        <button type="submit" name="sub1">Logout</button>
     </form>

   </body>

 </html>
