<!DOCTYPE html>
<!--
Team Bord: Austin Ngan (Gerald), Thomas Yu (Perry), Mark Zhu (Bob the Third Jr), Roshani Shrestha (Pete)
SoftDev
P00: User's Personal Blog Page
2021-10-30
-->


 <html>

   <head>
     <title> BLOG PAGE </title>
   </head>

   <!-- navbar -->
   <nav>
     <a href="personal">Home</a> |
     <a href="displayAll">All Users</a> |
     <a href="logout">Log Out</a>
   </nav>

   <body>
     <h1>
       Bord's Weblog Hosting Site
       <br>
       <br>
       {% if sessionU %}
            Hey, {{username}}! Welcome to your blogs!
       {% else %}
            Welcome to the blogs of {{username}}!
       {% endif %}
       <br>
     </h1>

     {% if sessionU %}
     <form action="createBlog" method="post">
        <button type="submit" name="sub2">Create Blog</button>
     </form>

     <br>
     {% endif %}

  <!-- Displays all the blogs in the form of buttons. -->
	{% for key, value in listBlog.items() %}
        <form action="blogpage" method="post">
          <input type="hidden" name="username" value="{{username}}">
          <input type="submit" name="blogsub" value="{{key}}">
        </form>
        <p style="white-space: pre-wrap;">{{ value }}</p>
        <br>
     {% endfor %}
     <br>


     <br>

     <br>



   </body>

 </html>
